@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background_mentalista.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    height: 100vh;
    overflow: hidden;

    color: #ffffff;
}

.container {
    text-align: center;
    padding: 20px;
}

/*Header*/
.page-title {
    margin: 10px;
    font-weight: normal;
    font-size: 4rem;
}
.alura-logo {
    width: 40px;
    position: absolute;
    top: 30px;
    right: 60px;
}
/*Main*/
.brain-image{
    width: 600px;
    position: absolute;
    top: 20px;
    transform: rotate(10deg);
}
.brain-image:hover { 
    transform: matrix(0.65, 0.77, -0.83, 0.55, 0, 0);
}
input { 
    border-radius: 8px;
    height: 30px;
    width: 300px;
    padding: 0;
    font-size: 18px;
    text-align: center;    
}
button { 
    border-radius: 10px;
    height: 50px;
    width: 200px;
    margin: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #F08838;
    color: white;
    box-shadow: 5px 5px 5px rgb(49, 47, 47);
}
button:hover{
    color: #000000;
    background-color: #f2af7b;
}

.dica { 
    background-color: #4b6996;
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 5px 5px 10px rgb(49, 47, 47);
    border-radius: 10px;
}
/*Footer*/
.rodape{
    
    width: 50%;
    margin: 50px auto;
}
.rodape p { 
    color: white;
}
.imersao-dev{
    width: 150px;
}

/*Media queries*/
@media screen and (max-width: 575.98px){
    body { 
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 671px;
    }
    .alura-logo { 
        top: 20px
    }
    .brain-image { 
        width: 200px;
        position: top;
    }
    .brain-image:hover{
        transform: none;
    }
    .rodape { 
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 991.98px){
    body { 
        display: block;
        background-size: auto;
    }
    .brain-image { 
        width: 200px;
        position: top;
    }
    .brain-image:hover{
        transform: none;
    }
    .rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 50px auto;
    }
    .rodape p {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 4px;
        margin: 10px auto;
    }

}